.navbar {
  margin: 0rem auto;
  padding: 3rem 0;
  width: 90%;
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 2rem;
  margin-left: auto;
}

.navbar li {
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar a {
  padding: 0.6rem 2.4rem;
}

.navbar li:hover {
  transform: translatey(-0.5rem);
}

.navbar li:active {
  transform: translateY(0);
}

.navbar button {
  padding: 1.2rem;
}
