.page_404 {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: var(--color-dark--0);
  text-align: center;
  position: relative;
}

.page_404 div {
  margin: 0 auto;
  margin-top: 10rem;
  background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
  background-repeat: no-repeat;
  background-position: center;
  height: 40rem;
  width: 80rem;
}

.page_404 h1 {
  color: var(--color-dark--0);
  font-size: 8rem;
  position: absolute;
  letter-spacing: 2rem;
  top: -4rem;
  right: 50%;
  transform: translate(50%);
}

.page_404 p span {
  font-size: 4.2rem;
}

.page_404 p {
  margin-top: -5rem;
  font-size: 1.6rem;
}

.page_404 button {
  margin: 3rem auto;
  font-size: 2.4rem;
  color: #fff;
  padding: 1.2rem 3.6rem;
}
