.product {
  margin: 2.5rem;
  min-height: calc(100vh - 5rem);
  background-color: var(--color-dark--1);
  position: relative;
}

.product section {
  margin: 0 auto;
  padding: 5rem 0;
  max-width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 10rem;
  align-items: center;
}

.product section div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product h2 {
  font-size: 4.2rem;
  line-height: 1.1;
  margin-bottom: 4rem;
  letter-spacing: 1px;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product img {
  width: 100%;
}
