.cityitem {
  display: flex;
  align-items: center;
  background-color: var(--color-dark--2);
  border-radius: 0.7rem;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  gap: 1rem;
  border-left: 0.5rem solid var(--color-brand--2);
  position: relative;
  cursor: pointer;
}

.cityitemActive {
  border: 2px solid var(--color-brand--2);
}

.cityitem > span {
  width: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cityitem > span img {
  width: 100%;
}

.cityitem h4 {
  font-weight: 600;
}

.cityitem p {
  margin-left: auto;
  font-size: 1.4rem;
}

.cityitem button {
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.cityitem button:hover {
  background-color: var(--color-brand--1);
}
